@charset "utf-8";
#top {
    height: 52px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#top .top {
    margin-left: 40px;
}

#top span {
    color: #4f4d4e;
    font-size: 24px;
    vertical-align: baseline;
    position: relative;
    top: -7px;
}

#container {
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    overflow-x: hidden;
    height: 560px;
    background-image: url("../img/login.jpg");
}
#cover{
    width: 280px;
    height: 277px;
    margin-right: 122px;
    margin-top: 122px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
}
#cover .txt{
    float: left;
    overflow: hidden;
    width: 253px;
    height: 277px;
    padding: 10px;
}
#form-register .txt{
    padding: 10px;
}
#cover .txt p,#form-register.txt p{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
}
#cover .txt p,#cover .txt p span a,#form-register .txt p,#form-register .txt p span a{
    color:#fff;
}
#cover .txt p,.container .txt p{
    font-size: 18px;
}
#form-register .txt p span a{
    font-size: 12px;
    color:#fff;
    position: relative;
    right: -207px;
}
#cover .txt p span a{
    font-size: 12px;
    color:#fff;
    position: relative;
    right: -84px;
}
#cover .txt .text input{
    border:1px solid #ddd;
    padding:10px 20px;
    width:253px;
    margin-top: 16px;
    box-shadow:inset 0 1px 1px rgba(0 0 0 .075);
}
#cover .txt .text span {
    position: relative;
    background: #0AA1ED;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    top: -25px;
    right: -232px;
}

#cover .txt .text span:before{
    content: "\e084";
}
#cover .txt .chose,.chose_login{
    margin-bottom:14px;
    color: #ffffff;
}
#cover .txt .chose span{
    float:right;
}
#cover .txt .chose .checkbox{
    position: relative;
    top: 2px;
}
#newuser {
      font-size: 18px;
      color: #fff;
      position: relative;
      left: 50px;
      height: 40px;
      line-height: 40px;
}
#dlogin {
        font-size: 12px;
        color: #fff;
        position: relative;
        right: -150px;
}
.button_login{
    background: -moz-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -o-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -ms-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    cursor: pointer;
    border-radius: 2px;
    color:#fff;
    text-align:center;
    width:263px;
    line-height:35px;
    font-weight:bold;
    margin:0 auto;
}
.button_login:hover{
    background: -moz-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -webkit-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -o-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -ms-linear-gradient(top, #25a7e9 0%, #0998df 100%);
}
.parent {
    position: relative;
}
.parent > video {
    position: absolute;
    z-index: -1;
}
.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    overflow-x: hidden;
    height: 560px;
    background-image: url("../img/regist.jpg");
}
h2 {
    text-align: center;
}
.panel {
    border-radius: 2px;
    min-height: 100px;
    padding: 1.2em .6em;
    width:550px;
    height:400px;
    margin-right: 25px;
    margin-top: 91px;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0.2);
}
.form-group {
    margin-bottom: 20px;
}
.form-group > label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
}
.form-group > input {
    padding:10px 20px;
    width:235px;
    margin-top: 12px;
    border-radius: 2px;

}
.form-group > span {
    width: 270px;
    color: #fff;
    padding: 4px;
    border-radius: 2px;;
}
.msg-default {
    background-color: #999;
}
.msg-error {
    background-color: #d00;
}
.msg-success {
    background-color: #0d0;
}
.hidden {
    display: none;
}
input[type="button"] {
    background: -moz-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -o-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    background: -ms-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    cursor: pointer;
    width: 276px;
    color: #fff;
    border-radius: 2px;
}
input[type="button"]:hover{
    background: -moz-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -webkit-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -o-linear-gradient(top, #25a7e9 0%, #0998df 100%);
    background: -ms-linear-gradient(top, #25a7e9 0%, #0998df 100%);
}
#showResult{
    width: 258px;
    height: 30px;
    position: absolute;
    top: 330px;
    right: 135px;
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    padding-left: 8px;
}

.modal{
    width:400px;
    height:144px;
    position: fixed;
    top:200px;
    left:500px;
    z-index: 2000;
    color:#333;
    font: 14px simhei;
    border-radius: 2px;
    display: none;
}
.modal_header{
    width:390px;
    height:42px;
    line-height: 42px;
    padding-left: 10px;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background: linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0px 10px 10px #ccc;
    margin-bottom: 1px;
}
.modal_content{
    width:400px;
    height:100px;
    line-height: 100px;
    background: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;
    text-align: center;
}
.modal_content>img{
    position: relative;
    top:17px;
    margin-right: 5px;
}
